.border {
  border: 3px solid black; }

@font-face {
  font-family: "Anurati";
  src: url(fonts/Anurati-Regular.otf) format("opentype"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "lato";
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  background-color: #fff;
  box-sizing: border-box; }

.btn-filled {
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  background-color: #32e232;
  border: 2px solid #32e232;
  border-radius: 3rem; }
  .btn-filled:hover {
    color: #32e232;
    background-color: #fff;
    border: 2px solid #32e232; }

.btn-nofill {
  color: #32e232;
  background-color: #fff;
  border: 2px solid #32e232;
  transition: all .2s;
  text-align: center;
  border-radius: 3rem; }
  .btn-nofill:hover {
    border: 2px solid #32e232;
    color: #fff;
    border: 2px solid #fff;
    background-color: #32e232; }

.top {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem; }
  .top__header-text {
    font-family: "Nunito";
    font-weight: 200;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 1   rem;
    width: 100%;
    margin: 0 auto;
    color: #32e232; }
  .top__header-p {
    font-family: "Lata";
    color: #32e232;
    font-size: 1.5rem;
    margin: 0 0 2px 0; }

.parmes {
  transition: all 0.2s; }

.message {
  font-size: 1.5rem;
  text-align: center;
  padding: .5rem 0;
  color: #fff;
  width: 70rem;
  margin: 1rem auto;
  border-radius: 5px;
  background-color: #32e232;
  display: none; }

.bottom {
  background-color: #f0f0f0;
  width: 70rem;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  height: 13rem;
  border-radius: 5px; }
  .bottom__reset {
    float: left;
    width: 48.5%;
    display: block;
    text-decoration: none;
    margin: 1rem 0.5%  0 0;
    font-size: 2rem;
    padding: 0.4rem;
    height: 5.2rem;
    transition: all .5s; }
  .bottom__cta {
    float: right;
    display: block;
    text-decoration: none;
    width: 48.5%;
    margin: 1rem 0 0 .5%;
    font-size: 2rem;
    padding: 0.4rem;
    height: 5.2rem;
    transition: all .5s; }
  .bottom__input {
    padding: 2rem;
    margin: 0 2% 0 0;
    padding-right: 7rem;
    width: 78%;
    color: #777;
    height: 5.2rem;
    border: transparent;
    border-radius: 3rem;
    border-bottom: 3px solid transparent;
    background-color: #fff;
    font-size: 2rem;
    transition: all .5s;
    float: left; }
    .bottom__input:focus, .bottom__input:hover {
      border-radius: 1px;
      outline: none;
      border-bottom: 3px solid #32e232; }
  .bottom__button {
    width: 20%;
    height: 5.2rem;
    padding: 1.2rem 1rem 1rem 1.2rem;
    color: #32e232;
    border: 2px solid #32e232;
    border-radius: 3rem;
    background-color: #fff;
    transition: all .2s; }
    .bottom__button:hover {
      border: 2px solid #32e232;
      color: #fff;
      background-color: #32e232; }
    .bottom__button:focus {
      outline: none; }

.board {
  font-size: 2rem;
  width: 70rem;
  margin: 0 auto; }
  .board__card {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
    margin-bottom: 1rem;
    height: 6rem;
    padding: 1rem;
    transition: all 0.5s;
    border-radius: 5px; }
    .board__card:hover {
      background-color: #fff;
      box-shadow: rgba(50, 226, 50, 0.1) 0px 0px 8px 0px, rgba(50, 226, 50, 0.1) 0px 20px 30px 0px;
      transition: transform 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
      transform: scale(1.04);
      z-index: -1000; }
    .board__card:hover .board__card-delete {
      transform: translateX(-1rem); }
    .board__card-num {
      text-align: center;
      width: 4rem;
      height: 4rem;
      padding: 0.2rem;
      margin-right: 1rem;
      border-radius: 100%;
      float: left;
      background-color: #32e232;
      color: #fff; }
    .board__card-text {
      display: inline-block; }
    .board__card-delete {
      text-decoration: none;
      float: right;
      font-size: 3rem;
      display: inline-block;
      -webkit-background-clip: text;
      color: #32e232;
      border: transparent;
      margin-top: 0.4rem;
      transition: all .5s; }
      .board__card-delete:focus, .board__card-delete:active {
        outline: none; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__content {
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    min-width: 10rem; }
    .popup__content__result {
      text-align: center;
      font-family: 'Lato', cursive;
      font-size: 4rem;
      margin: 2rem;
      background-color: #777;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
    .popup__content__button {
      display: block;
      font-family: 'Lato', cursive;
      font-size: 2rem;
      text-decoration: none;
      width: 70%;
      text-align: center;
      margin: 0 15% 10% 15%;
      color: #32e232;
      border: 2px solid #32e232;
      border-radius: 5px; }
      .popup__content__button:hover {
        color: #fff;
        background-color: #32e232; }

@media (max-width: 700px) {
  /* Styles */
  html {
    font-size: 50%; }
  .bottom {
    width: 100%; }
  .board {
    width: 100%;
    padding: 1rem; }
  .message {
    width: 98%;
    margin: 1%; } }
